.Entity {
    background: url(./images/PacManSprites.png) no-repeat;
    background-size: 478px 175px;
    z-index: 100;
}

.MrsPacManEntity {
    background: url("./images/MrsPacManAnimationSprite.png") no-repeat;
    background-size: 112px 28px;
    z-index: 100;
    width: 28px;
    height: 28px;
    backface-visibility: hidden; /** This prevents junk pixels **/
}

.PacManEntity {
    background: url("./images/PacManAnimationSprite.png") no-repeat;
    background-size: 112px 28px;
    z-index: 100;
    width: 28px;
    height: 28px;
    backface-visibility: hidden; /** This prevents junk pixels **/
}

.RowEntity {
    width: 28px;
    height: 28px;
}

.EntityInvisible {
    display: none;
}

.EntityBlink {
    animation: EntityBlinkAnimation 500ms linear infinite;
}

@keyframes EntityBlinkAnimation {
    50% { opacity: 0; }
}

/** MRS PAC MAN **/
/** and **/
/** PAC MAN **/

@keyframes PlayerAnimationSprite {
    100% {
        background-position: -112px;
    }
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.PacManRight {
    animation: PlayerAnimationSprite .25s steps(4) infinite;
}

.PacManRightPaused {
    background-position: -28px;
    animation: none;
}

.PacManLeft {
    animation: PlayerAnimationSprite .25s steps(4) infinite;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.PacManLeftPaused {
    background-position: -28px;
    animation: none;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.PacManUp {
    animation: PlayerAnimationSprite .25s steps(4) infinite;
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.PacManUpPaused {
    background-position: -28px;
    animation: none;
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.PacManDown {
    animation: PlayerAnimationSprite .25s steps(4) infinite;
    -moz-transform: rotate(90deg) scaleY(-1);
    -o-transform: rotate(90deg) scaleY(-1);
    -webkit-transform: rotate(90deg) scaleY(-1);
    transform: rotate(90deg) scaleY(-1);
}

.PacManDownPaused {
    background-position: -28px;
    animation: none;
    -moz-transform: rotate(90deg) scaleY(-1);
    -o-transform: rotate(90deg) scaleY(-1);
    -webkit-transform: rotate(90deg) scaleY(-1);
    transform: rotate(90deg) scaleY(-1);
}

.PacManDead {
    background-position: -28px;
    animation: spin 0.5s linear infinite;
}

.PacManDeadPaused {
    background-position: -28px;
    animation: none;
}

/** RED **/

.GhostRedRight1 {
    background-position: -2px -30px;
}

.GhostRedRight2 {
    background-position: -30px -30px;
}

.GhostRedLeft1 {
    background-position: -2px -30px;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.GhostRedLeft2 {
    background-position: -30px -30px;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.GhostRedDown1 {
    background-position: -58px -30px;
}

.GhostRedDown2 {
    background-position: -86px -30px;
}

.GhostRedUp1 {
    background-position: -114px -30px;
}

.GhostRedUp2 {
    background-position: -142px -30px;
}

/** ORANGE **/

.GhostOrangeRight1 {
    background-position: -2px -58px;
}

.GhostOrangeRight2 {
    background-position: -30px -58px;
}

.GhostOrangeLeft1 {
    background-position: -2px -58px;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.GhostOrangeLeft2 {
    background-position: -30px -58px;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.GhostOrangeDown1 {
    background-position: -58px -58px;
}

.GhostOrangeDown2 {
    background-position: -86px -58px;
}

.GhostOrangeUp1 {
    background-position: -114px -58px;
}

.GhostOrangeUp2 {
    background-position: -142px -58px;
}

/** PINK **/

.GhostPinkRight1 {
    background-position: -2px -86px;
}

.GhostPinkRight2 {
    background-position: -30px -86px;
}

.GhostPinkLeft1 {
    background-position: -2px -86px;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.GhostPinkLeft2 {
    background-position: -30px -86px;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.GhostPinkDown1 {
    background-position: -58px -86px;
}

.GhostPinkDown2 {
    background-position: -86px -86px;
}

.GhostPinkUp1 {
    background-position: -114px -86px;
}

.GhostPinkUp2 {
    background-position: -142px -86px;
}

/** BLUE **/

.GhostBlueRight1 {
    background-position: -2px -114px;
}

.GhostBlueRight2 {
    background-position: -30px -114px;
}

.GhostBlueLeft1 {
    background-position: -2px -114px;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.GhostBlueLeft2 {
    background-position: -30px -114px;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.GhostBlueDown1 {
    background-position: -58px -114px;
}

.GhostBlueDown2 {
    background-position: -86px -114px;
}

.GhostBlueUp1 {
    background-position: -114px -114px;
}

.GhostBlueUp2 {
    background-position: -142px -114px;
}

/** SCARED **/

.GhostScared1 {
    background-position: -2px -142px;
}

.GhostScared2 {
    background-position: -30px -142px;
}

/** DEAD **/

.GhostDead1 {
    background-position: -58px -142px;
}

.GhostDead2 {
    background-position: -86px -142px;
}

/** POWER UPS **/
.Cherry {
    background-position: -177px -5px;
}

.Strawberry {
    background-position: -204px -5px;
}

.Peach {
    background-position: -233px -5px;
}

.Pretzel {
    background-position: -261px -5px;
}

.Apple {
    background-position: -289px -5px;
}

.Pear {
    background-position: -316px -5px;
}

.Banana {
    background-position: -343px -5px;
}

.Key {
    background-position: -373px -5px;
}

/** ACT **/
.ActEntity {
    width: 60px;
    height: 60px;
}

.ActOpen {
    background-position: -175px -35px;
}

.ActMid {
    background-position: -238px -35px;
}

.ActClosed {
    background-position: -305px -35px;
}

/** EYES **/

.EyesRight {
    background-position: -170px -96px;
}

.EyesLeft {
    background-position: -170px -96px;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.EyesDown {
    background-position: -196px -96px;
}

.EyesUp {
    background-position: -224px -96px;
}

/** HEART? **/

.Heart {
    background-position: -125px -144px;
}

/** TINY ICONS **/

.TinyIcon {
    width: 16px;
    height: 16px;
}

.Potion {
    background-position: -168px -153px;
}

.Life {
    background-position: -196px -153px;
}

/** SWAN **/

.Swan {
    width: 64px;
    height: 32px;
}

.SwanUp {
    background-position: -235px -140px;
}

.SwanDown {
    background-position: -303px -140px;
}

/** BIG SCORE **/

.BigScore {
    width: 32px;
    height: 16px;
}

.BigScore200 {
    background-position: -257px -103px;
}

.BigScore400 {
    background-position: -293px -103px;
}

.BigScore800 {
    background-position: -332px -103px;
}

.BigScore1600 {
    background-position: -369px -103px;
}

/** ROW SCORE **/

.Score100 {
    background-position: -371px -38px;
}

.Score200 {
    background-position: -397px -38px;
}

.Score500 {
    background-position: -423px -38px;
}

.Score700 {
    background-position: -450px -38px;
}

.Score1000 {
    background-position: -371px -69px;
}

.Score2000 {
    background-position: -397px -69px;
}

.Score5000 {
    background-position: -423px -69px;
}

