.GameFooter {
    width: 100%;
}

.GameFooterTable {
    width: 100%;
}

.GameFooterRow {
    vertical-align: top;
}

.GameFooterLeft {
    text-align: left;
}

.GameFooterRight {
    text-align: right;
}