.GameHeader {
    color: orange;
    width: 100%;
    height: 100%;
}

.GameHeaderData {
    color: white;
}

.GameHeaderCell {
    vertical-align: middle;
    text-align: center;
}

.GameHeaderTable {
    width: 100%;
    height: 100%;
}