.LevelEditPanel {
    background: cadetblue; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(steelblue, midnightblue); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(steelblue, midnightblue); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(steelblue, midnightblue); /* For Firefox 3.6 to 15 */
    background: linear-gradient(steelblue, midnightblue); /* Standard syntax */
    color: White;
    font-family: Consolas, monospace;
    border: solid 2px Orange;
    z-index: 9999; /* TODO: Make this z-index work with the Entitys */
    text-align: center;
}

.LevelEditButtons {
    text-align: center;
}

.LevelEditButton {
    width: 64px;
    margin: auto;
}

.LevelEditPanelMasterTable {
    z-index: 9999;
}