.LevelRunner {
    overflow: hidden;
    background-color: Black;
}

.LevelRunnerLevel {

}

.LevelRunnerPanel {
    display: inline-block;
    vertical-align: top;
    margin-right: 2px;
}

.LevelRunnerLevelEditorPanel {
    text-align: left;
    display: inline-block;
    position: fixed;
    top: 0;
    width: 500px;
    right: -500px;
    animation: LevelRunnerLevelEditorPanelShowAnimation 1s forwards;
    -webkit-animation: LevelRunnerLevelEditorPanelShowAnimation 1s forwards;
}

@keyframes LevelRunnerLevelEditorPanelShowAnimation {
    100% {
        right: 0;
    }
}

.LevelRunnerLevelEditorPanelHide {
    text-align: left;
    display: inline-block;
    position: fixed;
    top: 0;
    right: 0;
    width: 500px;
    animation: LevelRunnerLevelEditorPanelHideAnimation 1s forwards;
    -webkit-animation: LevelRunnerLevelEditorPanelHideAnimation 1s forwards;
}

@keyframes LevelRunnerLevelEditorPanelHideAnimation {
    100% {
        right: -500px;
    }
}

.ButtonToggleEdit {
    background: steelblue; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(steelblue, midnightblue); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(steelblue, midnightblue); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(steelblue, midnightblue); /* For Firefox 3.6 to 15 */
    background: linear-gradient(steelblue, midnightblue); /* Standard syntax */
    color: White;
    font-family: Consolas, monospace;
    border: solid 2px Orange;
    width: 32px;
    height: 200px;
    position: absolute;
    left: -38px;
}

.ButtonToggleEdit:hover {
    background: darkgreen; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(LimeGreen, darkgreen); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(LimeGreen, darkgreen); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(LimeGreen, darkgreen); /* For Firefox 3.6 to 15 */
    background: linear-gradient(LimeGreen, darkgreen); /* Standard syntax */
    color: Orange;
    font-family: Consolas, monospace;
    border: solid 2px Orange;
    width: 32px;
    height: 200px;
}

.ButtonToggleEditText {
    -moz-transform: rotate(-90deg) translateX(-90px);
    -o-transform: rotate(-90deg) translateX(-90px);
    -webkit-transform: rotate(-90deg) translateX(-90px);
    transform: rotate(-90deg) translateX(-90px);
}

.LevelRunnerArea {
    background: black;
}

.LevelRunnerAreaCenter {
    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
    background: black;
    border: solid 2px aqua;
}


