.Modal {
    width: 100%;
    height: 100%;
}

.ModalContent {
    max-height: calc(100% - 100px);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 12px;
    /*opacity: 0.9;*/
    background: cadetblue; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(steelblue, midnightblue); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(steelblue, midnightblue); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(steelblue, midnightblue); /* For Firefox 3.6 to 15 */
    background: linear-gradient(steelblue, midnightblue); /* Standard syntax */
    color: White;
    border: solid 2px Orange;
    /*width: 128px;*/
    /*height: 500px;*/
    z-index: 9999999;
}

@font-face {
    font-family: PacFont;
    src: url(./images/PAC-FONT.TTF);
}

.ModalHeader {
    background-color: #4CAF50; /* Green */
    border: solid 2px Orange;
    border-radius: 12px;
    color: white;
    text-align: center;
    padding: 8px;
    position: relative;
    margin: 8px;
    width: 85%;
    /*left: 50%;*/
    /*top: 8px;*/
    /*transform: translate(-50%, 0);*/
    font-family: PacFont, monospace;
    font-size: 32px;
}

.ModalButton {
    background-color: #4CAF50; /* Green */
    border: solid 2px #4CAF50;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    font-family: PacFont, monospace;
    width: 150px;
    position: relative;
    margin: 4px;
}

.ModalButton:active {
    background-color: midnightblue; /* Green */
    color: White;
}

.ModalButtons {
    position: relative;
    bottom: 16px;
    width: 100%;
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
    text-align: center;
}

.ModalText {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: White;
    font-family: PacFont, monospace;
}

.ModalVisible {
    position: fixed;

}

.Modal-enter {
    /*top: 100%;*/
    opacity: 0;
}

.Modal-enter.Modal-enter-active {
    /*top: 50%;*/
    /*transition: top 500ms ease-in;*/
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.Modal-leave {
    /*top: 50%;*/
    opacity: 1;
}

.Modal-leave.Modal-leave-active {
    /*top: 100%;*/
    /*transition: top 500ms ease-in;*/
    opacity: 0;
    transition: opacity 500ms ease-in;
}

.ModalYesNoButtons {
    position: relative;
    width: 100%;
    /*height: 128px;*/
}